.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 85px;
    right: 100px; // Adjust this value to set the indentation from the right side
    z-index: 5;

    .cart-items-container {
        height: 270px; // Adjust this value as needed
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-bottom: 20px; // Space for the button
    }

    .cart-items-container::-webkit-scrollbar {
        display: none;
    }

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }
}