.shop-container {
    padding: 20px 40px;

    .products-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        column-gap: 25px;
        row-gap: 50px;
    }

    .category-title-products-container {
        padding-top: 30px;
    }

    // .products-container {
    //     display: flex;
    //     flex-wrap: nowrap;
    //     gap: 0;
    // }    

}
