.category-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;

    .category-title {
        text-align: center;
        font-size: 28px;
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 20px;
        row-gap: 50px;

    }
}