:root {
  --navbar-height: 65px; // Adjust this value to your actual navbar height
}

.NavBar {
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    // Ensures the NavBar sits at the top of the page and items are vertically centered
    z-index: 1000;
    padding: 0 10px;
    justify-content: left; // Ensure items are spaced evenly across the NavBar
  
  
    .Logo {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 10px;
      // Sits the NavIcon 10px away from the left edge of the page
    }

    .links-container {
      display: flex; // Ensure links are aligned horizontally
      align-items: center; // Vertically center the NavText items

      .NavText {
        margin-left: 40px; // Add space between text items
        display: flex;
        align-items: center;
        // Vertically centers the NavText items and spaces them equally
        color: white; // Example text color
        text-decoration: none;
        font-size: 20px;
      }
    }
  
  }